


@keyframes opacity {
    from
    {
        opacity: 1;
    }
    to
    {
        opacity: 0;
    }
}
.restartopacity
{
    opacity: 0;
}
body
{
    background-color: black;
    margin: 0;
    padding: 0;
}
.opacityanimation
{
    animation-name: opacity;
    animation-duration: 2s;
    -webkit-animation: opacity 2s;
    -webkit-animation-fill-mode: forwards;
}
.opacityfastanimation
{
    animation-name: opacity;
    animation-duration: 0.3s;
    -webkit-animation: opacity 0.3s;
    -webkit-animation-fill-mode: forwards;
}
#poll2 p
{
    font-family: SpaceMono-Regular;
    color: white;
    
    overflow: hidden;
    white-space: pre;
    font-size: 4vw;  
}
p { font-family: SpaceMono-Regular,Arial; }
@keyframes opacity2 {
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
.opacityanimation2
{
    animation-name: opacity2;
    animation-duration: 1s;
    -webkit-animation: opacity2 1s;
    -webkit-animation-fill-mode: forwards;
}
.opacityfastanimation2
{
    animation-name: opacity2;
    animation-duration: 0.3s;
    -webkit-animation: opacity2 0.3s;
    -webkit-animation-fill-mode: forwards;
}

@font-face {
    font-family: SpaceMono-Regular;
    src: url(SpaceMono-Regular.ttf);
 }
 #strona img
   {
       position: absolute;
   }
   .animacjaStronaTylna3
   {
       animation-name: stronaTylna3;
       animation-duration: 0.5s;
       -webkit-animation: stronaTylna3 0.5s;
       -webkit-animation-fill-mode: forwards;
   }
     .animacjaStrona3na2
     {
       animation-name: strona3na2;
       animation-duration: 0.5s;
       -webkit-animation: strona3na2 0.5s;
       -webkit-animation-fill-mode: forwards;
     }
     .animacjaStrona2naPrzod
     {
       animation-name: strona2naPrzod;
       animation-duration: 0.5s;
       -webkit-animation: strona2naPrzod 0.5s;
       -webkit-animation-fill-mode: forwards;
     }
     .animacjaStronaPrzodnaTyl
    {
       animation-name: stronaPrzodnaTyl;
       animation-duration: 0.5s;
       -webkit-animation: stronaPrzodnaTyl 0.5s;
       -webkit-animation-fill-mode: forwards;
    }
     
   .animacjaRozmiar
   {
       animation-name: powiekszanie;
       animation-duration: 2s;
       -webkit-animation: powiekszanie 2s;
       -webkit-animation-fill-mode: forwards;
   }
   .animacjaRozmiarPowrot
   {
       animation-name: zmniejszanie;
       animation-duration: 2s;
       -webkit-animation: zmniejszanie 2s;
       -webkit-animation-fill-mode: forwards;
   }
   #podstronagraph
    {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        align-items: center;
        justify-content: center;
    }
    #poll2
    {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        align-items: center;
        justify-content: center;
    }
/* telefony */
@media only screen and (max-width: 1100px) {
    .podstronaTekst
    {
        font-family: SpaceMono-Regular;
        color: white;
        font-size: 2vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    #podstronaSI
    {
        position: absolute;
        margin-top: calc(73.5vw + -20vh);
        width: 100vw;
        height: calc(100vh - 73.5vw);
        overflow-y:scroll;
        z-index: 4;
        opacity: 0;
    }
    #tekstSI
    {
        width: 100vw;
    }
    #podstronaAn
    {
        position: absolute;
        margin-top: calc(73.5vw + -20vh);
        height: calc(100vh - 73.5vw);
        width: 90vw;
        margin-left: 5vw;
        background-color: black;
        display: flex;
        overflow-y:scroll;
        z-index: 4;
        opacity: 0;
    }
    #tekstAn
    {
        width: 70vw;
        font-family: SpaceMono-Regular;
        color: white;
        font-size: 4vw;
        position: absolute;
    }
    #tekstAn2
    {
        font-family: SpaceMono-Regular;
        color: white;
        font-size: 4vw;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    #tekstAn3
    {
        font-family: SpaceMono-Regular;
        color: white;
        font-size: 4vw;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    
    #loading
    {
        width: 20vw;
    }
    #tekstgraph
    {
        font-family: SpaceMono-Regular;
        color: white;
        font-size: 4vw;
        text-align: center;
        display: none;
    }

    #podstronaLem
    {
        position: absolute;
        margin-top: calc(73.5vw + -20vh);
        width: 100vw;
        margin-left: 0;
        height: calc(100vh - 73.5vw);
        overflow-y:scroll;
        z-index: 4;
        opacity: 0;
        background-color: black;
    }
   
    #podstronaPrzenikanie
    {
        position: absolute;
        margin-top: calc(73.5vw + -20vh);
        width: 100vw;
        margin-left: 0;
        height: calc(100vh - 73.5vw);
        overflow-y:scroll;
        z-index: 4;
        opacity: 0;
        background-color: black;
    }
   
    .stronaTyl
    {
        width: 30.56vw;
        margin-left: 36.6175vw;
        margin-top: 12.9vw ;
        position: absolute;
        z-index: -3;
       
    }
    .strona3
    {
        width: 30.56vw;
        margin-left: 35.3725vw;
        margin-top: 15.39vw;

        position: absolute;
        z-index: -2;
        
    }
    .strona2
    {
        width: 30.56vw;
        margin-left: 34.1275vw;
        margin-top: 17.88vw;
        position: absolute;
        z-index: -1;
        
    }
    .stronaPrzod
    {
        width: 30.56vw;
        margin-left: 32.8825vw;
        margin-top: 20.37vw;
        position: absolute;
        z-index: 0;
        
    }
    @keyframes stronaPrzodnaTyl {
        0%
        {
            width: 30.56vw;
            margin-left: 32.8825vw;
            margin-top: 20.37vw;
            position: absolute;
            z-index: 0;
        }
        40%
        {
            opacity: 0;
            width: 30.56vw;
            margin-left: 32.8825vw;
            margin-top: 20.37vw;
            position: absolute;
            z-index: 0;
        }
        80%
        {
            opacity: 0;
        }
        
        100% { width: 30.56vw;
            margin-left: 36.6175vw;
            margin-top: 12.9vw ;
            position: absolute;
            z-index: -3;
            opacity: 1;
        }
    }
    @keyframes stronaTylna3 {
       
        0%
        {
            width: 30.56vw;
            margin-left: 36.6175vw;
            margin-top: 12.9vw ;
            position: absolute;
            z-index: -3;
        }
        100% 
        { 
            width: 30.56vw;
            margin-left: 35.3725vw;
            margin-top: 15.39vw;
            position: absolute;
            z-index: -2;
        }
      }
    @keyframes strona3na2 
    {
        0%
        {
            width: 30.56vw;
            margin-left: 35.3725vw;
            margin-top: 15.39vw;
            position: absolute;
            z-index: -2;
        }
        100% 
        { 
            width: 30.56vw;
            margin-left: 34.1275vw;
            margin-top: 17.88vw;
            position: absolute;
            z-index: -1;
        }
    }
    @keyframes strona2naPrzod 
    {
        0%
        {
            width: 30.56vw;
            margin-left: 34.1275vw;
            margin-top: 17.88vw;
            position: absolute;
            z-index: -1;
        }
        100% 
        { 
            width: 30.56vw;
            margin-left: 32.8825vw;
            margin-top: 20.37vw;
            position: absolute;
            z-index: 0;
        }
    }
   
    .rozmiar
    {
        width: 100vw;
        margin-left: 0vw;
        margin-top: -20vh;
        z-index: 100;
    }
    
    #tlo
    {
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        display: flex;
        width: 62vw;
        z-index: -10;
        margin-top: 5.52vw;
        margin-left: 19.44vw;
    }
    #system img:first-child
    {
    display: block;
    }
    
    #computer img
    {
        margin-left: 10vw;
        padding: 0;
        display: flex;
        width: 80vw;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        z-index: 10;
    }
   
  
 
    @keyframes powiekszanie {
       
        0%
        {
            width: 30.56vw;
            margin-left: 32.8825vw;
            margin-top: 20.37vw;
            position: absolute;
            z-index: 0;
        }
        100% { width: 100vw;
            margin-left: 0vw;
            margin-top: -20vh;
            z-index: 100;
           }
      }

    @keyframes zmniejszanie {
        0% { 
            width: 100vw;
            margin-left: 0vw;
            margin-top: -20vh;
            z-index: 100;
           }
       100%
       {
            width: 30.56vw;
            margin-left: 32.8825vw;
            margin-top: 20.37vw;
            position: absolute;
            z-index: 0;
       }
        
    }
    
    #center
    {
        height: 80vh;
        padding-top: 20vh;
        position: absolute;
        
    }
    #qrcode
    {
        margin-left: 12vw;
        width: 20vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
       
    }   
    #qrtekst
    {
       
        margin: auto;
        width: 100%;
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
      
    }
    #qrdiv
    {
        margin-top: 3vw;
        height: 20vw;
        width: 51vw;
        margin-left: 34vw;
        position: absolute;
    }

    #qrcode img
    {
        width: 20vw;
        height: 20vw;
        
    }
   

}


/* komp! */
@media only screen and (min-width: 1100px) {
    .podstronaTekst
    {
        font-family: SpaceMono-Regular;
        color: white;
        font-size: 1.5vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    #podstronaSI
    {
        position: absolute;
        margin-top: calc(29.4vw + -10vh);
        height: calc(100vh - 29.4vw);
        width: 40vw;
        margin-left: 30vw;
        overflow-y:scroll;
        z-index: 4;
        opacity: 0;
        z-index: 100;
    }
    #tekstSI
    {
        width: 40vw;
        
    }
    #podstronaAn
    {
        position: absolute;
        width: 40vw;
        margin-left: 30vw;
        margin-top: calc(29.4vw + -10vh);
        height: calc(100vh - 29.4vw);
        background-color: black;

        overflow-y:scroll;
        z-index: 4;
        opacity: 0;
        z-index: 100;
    }
    #tekstAn
    {
        width: 40vw;
        font-family: SpaceMono-Regular;
        color: white;
        font-size: 2vw;
        position: absolute;
    }
    #tekstAn2
    {
        font-family: SpaceMono-Regular;
        color: white;
        font-size: 2vw;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    #tekstAn3
    {
        font-family: SpaceMono-Regular;
        color: white;
        font-size: 2vw;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    #podstronaLem
    {
        position: absolute;
        width: 40vw;
        margin-left: 30vw;
        margin-top: calc(29.4vw + -10vh);
        height: calc(100vh - 29.4vw);
        overflow-y:scroll;
        z-index: 4;
        opacity: 0;
        background-color: black;
    }
   
    #podstronaPrzenikanie
    {
        position: absolute;
        /* margin-top: 29.6vw; */
        width: 40vw;
        margin-left: 30vw;
        margin-top: calc(29.4vw + -10vh);
        height: calc(100vh - 29.4vw);
        overflow-y:scroll;
        z-index: 4;
        opacity: 0;
        background-color: black;
    }
    #center
    {
        height: 80vh;
        padding-top: 10vh;
        position: absolute;
        
    }
    #qrcode
    {
        margin-left: 31vw;
        width: 10vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
       
    }   
    #qrtekst
    {
       
        margin: auto;
        width: 100%;
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
      
    }
    #qrdiv
    {
        margin-top: 1.5vw;
        height: 10vw;
        width: 25.5vw;
        margin-left: 42vw;
        position: absolute;
    }

    #qrcode img
    {
        width: 10vw;
        height: 10vw;
        
    }
   
    #loading
    {
        width: 5vw;
    }
    #tekstgraph
    {
        font-family: SpaceMono-Regular;
        color: white;
        font-size: 1.5vw;
    text-align: center;
    display: none;
    
    }
    
    .stronaTyl
    {
        width: 15.28vw;
        margin-left: 43.308vw;
        margin-top: 6.45vw ;
        position: absolute;
        z-index: -3;
       
    }
    .strona3
    {
        width: 15.28vw;
        margin-left: 42.686vw;
        margin-top: 7.695vw;
        position: absolute;
        z-index: -2;
        
    }
    .strona2
    {
        width: 15.28vw;
        margin-left: 42.063vw;
        margin-top: 8.94vw;
        position: absolute;
        z-index: -1;
        
    }
    .stronaPrzod
    {
        width: 15.28vw;
        margin-left: 41.441vw;
        margin-top: 10.185vw;
        position: absolute;
        z-index: 0;
        
    }
    
    @keyframes stronaPrzodnaTyl {
        0%
        {
            width: 15.28vw;
            margin-left: 41.441vw;
            margin-top: 10.185vw;
            position: absolute;
            z-index: 0;
        }
        40%
        {
            opacity: 0;
            width: 15.28vw;
            margin-left: 41.441vw;
            margin-top: 10.185vw;
            position: absolute;
            z-index: 0;
        }
        80%
        {
            opacity: 0;
        }
        
        100% { 
            width: 15.28vw;
            margin-left: 43.308vw;
            margin-top: 6.45vw ;
            position: absolute;
            z-index: -3;
            opacity: 1;
           }
      }
      @keyframes stronaTylna3 {
       
        0%
        {
            width: 15.28vw;
            margin-left: 43.308vw;
            margin-top: 6.45vw ;
            position: absolute;
            z-index: -3;
        }
        100% { 
            width: 15.28vw;
            margin-left: 42.686vw;
            margin-top: 7.695vw;
            position: absolute;
            z-index: -2;
            
           }
      }
      @keyframes strona3na2 {
       
        0%
        {
             width: 15.28vw;
            margin-left: 42.686vw;
            margin-top: 7.695vw;
            position: absolute;
            z-index: -2;
        }
        100% { 
            
            width: 15.28vw;
            margin-left: 42.063vw;
            margin-top: 8.94vw;
            position: absolute;
            z-index: -1;
            
           }
      }
      @keyframes strona2naPrzod {
       
        0%
        { 
            width: 15.28vw;
            margin-left: 42.063vw;
            margin-top: 8.94vw;
            position: absolute;
            z-index: -1;
        }
        100% { 
           
            width: 15.28vw;
            margin-left: 41.441vw;
            margin-top: 10.185vw;
            position: absolute;
            z-index: 0;
            
           }
      }
    
    #tlo
    {
        margin-left: 34.72vw;
        position: absolute;
        display: flex;
        width: 32vw;
        z-index: -10;
        margin-top: 2.76vw;
    }
    
    #system img:first-child
    {
    display: block;
    }
    
    #computer img
    {
     margin-left: 30vw;
    padding: 0;
    display: flex;
    width: 40vw;
    -webkit-transform: scale(1, 1);
     transform: scale(1, 1);
    z-index: 10;
    }
    .rozmiar
    {
        width: 40vw;
        margin-left: 30vw;
        margin-top: -10vh;
        z-index: 100;
    }
    #animacja
    {
        position: absolute ;
        z-index: -2;
    }
    #poll2 p
    {
        font-family: SpaceMono-Regular;
        color: white;
        overflow: hidden;
        white-space: pre;
        font-size: 2vw;  
    }
 
    @keyframes powiekszanie {
       
        0%
        {
            width: 15.28vw;
            margin-left: 41.441vw;
            margin-top: 10.185vw;
            position: absolute;
            z-index: 0;
        
        }
        100% { width: 40vw;
            margin-left: 30vw;
            margin-top: -10vh;
            z-index: 3;
           }
      }
      @keyframes zmniejszanie {
        0% { 
            width: 40vw;
            margin-left: 30vw;
            margin-top: -10vh;
            z-index: 3;
           }
       100%
       {
        width: 15.28vw;
        margin-left: 41.441vw;
        margin-top: 10.185vw;
        position: absolute;
        z-index: 0;
       }

        
      }
    



}